[user]
	name = John Trammell
	email = john.trammell@outsell.com
[alias]
	st = status
	rpo = remote prune origin
	info = remote -v show origin
	lg = log --abbrev-commit --pretty=oneline --topo-order
	lgg = log --graph
	lb = branch -a --list $1
	fp = "!git fetch; git pull"
[core]
	excludesfile = ~/.gitignore
	warnambiguousrefs = false
	sparsecheckout = true
[diff]
	tool = opendiff
[push]
	default = tracking
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
